/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Header Navbar */
.navbar {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container h1 {
    margin: 0;
    font-size: 24px;
}

.navbar nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

    .navbar nav a:hover {
        text-decoration: underline;
    }

/* Main Content */
.main-content {
    padding: 20px;
    margin-top: 60px; /* Adjust based on the navbar height */
}

.content h2 {
    color: #000000;
    margin-bottom: 10px;
}

.songs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.song-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.song-info h3 {
    margin: 0 0 5px;
    color: #333;
}

.song-info p {
    margin: 0;
    color: #666;
}

.song-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.play-btn {
    background-color: #0044cc;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

    .play-btn:hover {
        background-color: #003399;
    }

.delete-btn {
    background-color: #cc0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
    .delete-btn:hover {
        background-color: #990000;
    }
/* Footer Navbar */
.footer-nav {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer-text p {
    margin: 0; 
    line-height: 1.2; 
    font-size: 16px;
}

.footer-text h2 {
    margin-bottom: 5px; 
}

.footer-text h2 {
    margin: 0;
    font-size: 18px;
}

.footer-audio audio {
    width: 1800px;
}


@media (max-width: 768px) {
    .song-item {
        width: calc(50% - 10px);
    }

    .footer-audio audio {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .song-item {
        width: 100%;
    }
}

.search-bar {
    margin-bottom: 20px;
}

    .search-bar input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
